body {
    font-family: Arial, serif;
}

input, button, select {
    padding: 5px;
    margin: 5px;
}

table {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
.sezione {
    border:2px solid green;
    padding:10px;
    margin:10px;
}
