.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 80px;
    height: auto;
}

.title {
    margin: 0;
}

#time {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

#date {
    font-size: 20px;
    margin: 0;
}

#initialButton {
    margin-top: 30px;
    width: 400px;
    height: 100px;
    font-size: 50px;
    text-shadow: 2px 2px 50px black;
    color: beige;
    font-weight: bold;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background-color: cadetblue;
    transition: background-color 0.3s ease; /* Animazione per il cambiamento del colore del bottone */
}

#initialButton:hover {
    background-color: cornflowerblue;
}

#regButton{
    width: 120px;
    height: 30px;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}


#regButton:hover {
    background-color: dimgrey;
}

#returnButton{
    width: 200px;
    height: 40px;
    background-color: lightgray;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
}


#returnButton:hover {
    background-color: dimgrey;
}

input{
    background-color: beige;
}

table{
    background-color: darkslategray;
    border-radius: 8px;
}
table th{
    height: 30px;
    padding: 10px;
}

table td{
    padding: 5px;
    border-bottom: 1px solid #e6e6e6;
}
table tr:nth-child(even) { /*Pattern zebrato con le righe pari verde oliva*/
    background-color: darkolivegreen;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: #08121f;
    color: #eaf4ff;
    overflow: hidden;
    text-shadow: 5px 5px 5px black;
}
